<div class="row" data-conference="<%= conference_name.downcase %>" >
	<%= "#{conference_name} Conference" %>
		<% divisions.each do |key, value| %>
			<%= render 'division', division_name: key, teams: value %>
		<% end %>
</div>