<h1 class="text-center">League Standings as of <%= @standingsdate %></h1>


<div id="standings">
	<% @standings.each do |key, value| %>
		<%= render 'conference', {conference_name: key, divisions: value} %>
	<% end %>
</div>