---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/scoreboardV2?DayOffset=0&LeagueID=00&gameDate=2011-12-25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 24 Jan 2017 21:14:21 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"scoreboardV2","parameters":{"GameDate":"2011-12-25","LeagueID":"00","DayOffset":"0"},"resultSets":[{"name":"GameHeader","headers":["GAME_DATE_EST","GAME_SEQUENCE","GAME_ID","GAME_STATUS_ID","GAME_STATUS_TEXT","GAMECODE","HOME_TEAM_ID","VISITOR_TEAM_ID","SEASON","LIVE_PERIOD","LIVE_PC_TIME","NATL_TV_BROADCASTER_ABBREVIATION","LIVE_PERIOD_TIME_BCAST","WH_STATUS"],"rowSet":[["2011-12-25T00:00:00",1,"0021100001",3,"Final","20111225/BOSNYK",1610612752,1610612738,"2011",4,"
        ","TNT","Q4   - TNT",1],["2011-12-25T00:00:00",2,"0021100002",3,"Final","20111225/MIADAL",1610612742,1610612748,"2011",4,"
        ","ABC","Q4   - ABC",1],["2011-12-25T00:00:00",3,"0021100003",3,"Final","20111225/CHILAL",1610612747,1610612741,"2011",4,"
        ","ABC","Q4   - ABC",1],["2011-12-25T00:00:00",4,"0021100004",3,"Final","20111225/ORLOKC",1610612760,1610612753,"2011",4,"
       [...]
