---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/commonplayerinfo?LeagueID=00&PlayerID=2404
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 25 Jan 2017 02:48:59 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"commonplayerinfo","parameters":[{"PlayerID":2404},{"LeagueID":"00"}],"resultSets":[{"name":"CommonPlayerInfo","headers":["PERSON_ID","FIRST_NAME","LAST_NAME","DISPLAY_FIRST_LAST","DISPLAY_LAST_COMMA_FIRST","DISPLAY_FI_LAST","BIRTHDATE","SCHOOL","COUNTRY","LAST_AFFILIATION","HEIGHT","WEIGHT","SEASON_EXP","JERSEY","POSITION","ROSTERSTATUS","TEAM_ID","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CODE","TEAM_CITY","PLAYERCODE","FROM_YEAR","TO_YEAR","DLEAGUE_FLAG","GAMES_PLAYED_FLAG","DRAFT_YEAR","DRAFT_ROUND","DRAFT_NUMBER"],"rowSet":[[2404,"Chris","Wilcox","Chris
        Wilcox","Wilcox, Chris","C. Wilcox","1982-09-03T00:00:00","Maryland","USA","Maryland/USA","6-10","235",11,"44","Forward-Center","Active",1610612738,"Celtics","BOS","celtics","Boston","chris_wilcox",2002,2012,"N","Y","2002","1","8"]]},{"name":"PlayerHeadlineStats","headers":["PLAYER_ID","PLAYER_NAME","TimeFrame","PTS","AST","REB","ALL_STAR_APPEARANCES"],"rowSet":[[2404,"Chris
        Wilcox","career",8.2,0.7,4.9,0]]}]}'
  recorded_at: Wed, 25 Jan 2017 02:49:00 GMT
recorded_with: VCR 3.0.3
